{% extends 'caosnews/base.html' %}
{% block contenido %}
{% load static %}

    <!--CAROUSEL-->
    <div class="container">
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="nav-link" href="{% url 'main'%}">
            <img src="{% static 'caosnews/image/CaosNews.gif' %}" class="d-block w-100" alt="..." >
            <div class="card-footer">
              <small class="text-body-secondary">Click en la imagen para ir a la noticia...</small>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            <a class="nav-link" href="{% url 'cultura'%}">
            <img src="{% static 'caosnews/image/valentintrujillo.jpg' %}" class="d-block w-100" alt="..." >
            <div class="card-footer">
              <small class="text-body-secondary">Click en la imagen para ir a la noticia...</small>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            <a class="nav-link" href="{% url 'economia'%}">
            <img src="{% static 'caosnews/image/miami.jpg' %}" class="d-block w-100" alt="">
            <div class="card-footer">
              <small class="text-body-secondary">Click en la imagen para ir a la noticia...</small>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            <a class="nav-link" href="{% url 'actualidad'%}">
            <img src="{% static 'caosnews/image/40hrs.jpg' %}" class="d-block w-100" alt="">
            <div class="card-footer">
              <small class="text-body-secondary">Click en la imagen para ir a la noticia...</small>
            </div>
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
  </div>  
    <!--CAROUSEL-->
 
{% endblock  %}