{% extends 'caosnews/base.html' %}
{% block contenido %}
{% load static %}
    <!--CARD-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="image/disneyjr.jpg" class="card-img-top" width="50" height="500" >
            <div class="card-body">
              <h5 class="card-title">Contenido para preescolares llega a plataformas online y gratuitas de Disney.</h5>
              <p class="card-text">Se podrá acceder a contenidos especiales de Nivis, amigos de otro mundo, Junior Express, PJ Mask,
                Fancy Nancy Clancy, Muppet Babies, Puppy Dog Pals, Vampirina, Princesas, Frozen, La Guardia del León y Mickey y todos sus amigos.
                De esta manera, los usuarios se sumergirán en un mundo lleno de magia a través de juegos didácticos, desarrollando su
                creatividad y disfrutando de sus canciones favoritas.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Hace 30 minutos...</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="image/fantasilandia.jpg" class="card-img-top" width="50" height="500" >
            <div class="card-body">
              <h5 class="card-title">Fantasilandia celebrará con música en vivo llegada de las vacaciones de invierno.</h5>
              <p class="card-text">El jueves 11 de julio en Fantasilandia se presentará DrefQuila y el viernes 12 Guachupé,
                en el contexto del evento Back to Fun, que desarrollará actividades especiales para que quienes terminan las clases, 
                disfruten del inicio de su periodo de descanso de una manera única.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Hace 1 hora...</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="image/runners.jpg" class="card-img-top" width="50" height="500" >
            <div class="card-body">
              <h5 class="card-title">Corriendo con diversión: Chile estrena la categoría "Funners".</h5>
              <p class="card-text">Por primera vez en la patria, Running Festival presentará una corrida enfocada en la entretención, 
                donde los participantes deberán sortear 5K de imprevistos y sorpresas.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Hace 2 horas...</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="image/videojuego" class="card-img-top" width="50" height="500" >
                <div class="card-body">
                  <h5 class="card-title">Lanzan videojuego para combatir el maltrato infantil.</h5>
                  <p class="card-text">La Fundación World Vision lanzó el primer juego gratuito para smartphone 
                    que busca educar a los chilenos sobre los tipos de violencias que existen y disminuir el porcentaje 
                    de victimización de niños y niñas, donde según un estudio hecho por la Universidad de Chile y la misma fundación, 
                    se asegura que un 49,9% de los éstos/as ha sufrido violencia en su crianza.</p>
                </div>
              <div class="card-footer">
                <small class="text-body-secondary">Hace 3 horas...</small>
              </div>
            </div>
        </div>
      </div>

{% endblock  %}