{% extends 'caosnews/base.html' %}
{% block contenido %}
{% load static %}

    <div class="container ">
        <h1> VALENTÍN TRUJILLO CELEBRARÁ SUS 90 AÑOS EN EL TEATRO NESCAFÉ DE LAS ARTES</h1> 
            <!--video-->
        <div class="video">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="ratio ratio-16x9">
                          <iframe src=" https://www.youtube.com/embed/Y60S16GUARk" title="YouTube video player" 
                              frameborder="0"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

{% endblock  %}
   